.App {
  display: flex;
  padding-top: 5%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: antiquewhite;
  background-color: #0A021B;
  height:  100%;  
  font-family: sans-serif;
}